<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Codigo facilito</title>
</head>
<body>
    <div id="app">
        <!-- <h1>{{name}}</h1> -->
        <h1 v-text="name"></h1>
        <!-- one way binding -->
        <!-- two way binding Genere un texto en wayBinding.txt con chat GPT-->
        <input type="text" v-model="name"> <!-- Directiva V-model para two way binding, Esto se refleja cambios del componente hijo al padre-->
        <!-- <a href="https://www.google.com/">Google</a> -->

        <!-- DIRECTIVAS -->

        <span v-bind:title="name">{{name}}</span>

        <p v-for="item in numbers" >{{item}}</p>
        <!-- o -->
        <p v-for="item2 in strings" v-text="item2"></p>

        <!-- objeto -->

        <p v-for="item3 in objeto">total: {{item3.total}}</p>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const Hola = {
            data(){
                return{
                    name: "Hola Mundo",
                    numbers: [1,2,3,4,5],
                    strings: ["A", "B", "C", "D"],
                    objeto: [
                        {total: 20},{total: 30},{total:40}
                    ]
                }
            },

            created(){
                console.log("Created")
            },
            beforeCreate(){
                console.log("before Create")
            },

            
            updated(){
                console.log("update")
                const value = document.querySelector("#app input")
                const titulo = document.querySelector("#app h1")
                console.log(value.value)
                console.log(titulo.textContent)
            },


        }

        Vue.createApp(Hola).mount("#app")

    </script>
</body>
</html>
